@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background-color: blue;
  color: white;
}

.header-button {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer {
  background-color: blue;
  color: white;
  
}
.footer-button {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.p {
  font-size: 1.125rem;
}
.h1 {
  font-size: 24px;
  margin: 10px 0;
  margin-bottom: 30px;
  text-align: center;
  color: blue;
  text-align: center;
  

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.div{
  display: flex;
  flex-direction: column;
}
